@font-face {
  font-family: "Nanum Gothic";
  src: url("/fonts/NanumGothicLight.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("/fonts/NanumGothic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("/fonts/NanumGothicBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url("/fonts/NanumGothicExtraBold.ttf") format("truetype");
  font-weight: 900;
}